.brick {
    margin: 5px;
    background-color: #f8f9fa;
}
.brick a {
    display: block;
    padding: 15px;
    color: inherit;
    text-decoration: none;
}
.brick h4 {
    margin: 0;
}
.container {
    height: 100vh;
}

.flex-shrink-0 {
    max-height: 70%;
}
.sidebar {
    margin-top: 5px;
}
